<%= link_to "Back", products_path %>

<section class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <%= image_tag @product.featured_image, class: "w-full h-48 object-cover" if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1 class="text-xl font-bold capitalize"><%= @product.name %></h1>
      <div>
        <%= @product.description %>
      </div>
      <p>
        <small>
          Created: <%= distance_of_time_in_words(@product.created_at, Time.now) %>
        </small>
      </p>
    <% end %>

    <% if authenticated? %>
      <div class="flex gap-2">
        <%= link_to "Edit", edit_product_path(@product), class: "bg-yellow-500 text-yellow-50 py-1.5 px-2.5 rounded text-sm" %>
        <%= button_to "Delete", @product, class: "bg-red-500 text-red-50 py-1.5 px-2.5 rounded text-sm", method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </section>
</section>

<%= render "reviews", reviews: @reviews %>

<%= render "inventory", product: @product %>

<% if authenticated? %>
  <%= render "review", product: @product %>
<% end %>
